<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Array Carousel</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/app.js"></script>
</head>
<body>
  <div id="root">
    <header></header>

    <main>
        <div class="container">
          <div class="container-img-overlay">
            
            <div class="container-img">
              <img class="img " :class="i == currentIndex ? 'active' : ''" v-for="image, i in imagesList" :src="image.urlImg" :alt="'img ' + (i + 1)">
            </div>
            <div class="container-overlay" v-for="image, i in imagesList">
              <h1 class="title " :class="i == currentIndex ? 'active' : ''" >{{image.titleImg}}</h1>
              <p class="news " :class="i == currentIndex ? 'active' : ''">{{image.descriptionImg}}</p>
            </div>
            
          </div>
          <nav class="nav">
            <a href="#" class="chevron chevron-up" @click="upClick"><i class="fas fa-chevron-up"></i></a>
            <a href="#" class="chevron chevron-down" @click="downClick"><i class="fas fa-chevron-down"></i></a>
            <img class="img-nav" :class="i == currentIndex ? 'active-nav' : ''" v-for="image, i in imagesList" :src="image.urlImg" :alt="'img ' + (i + 1)">
          </nav>
        </div>
    </main>

    <footer></footer>
  </div>
</body>
</html>